# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Generated TLS certificates (auto-created on server start)
*.pem
*.key
*.crt

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
logs/

# Environment
.env
.env.local
